.hero {
  text-align: center;
  margin: 0 auto;
  padding-top: 118px;
  height: 400px;
  min-width: 100%;

  background-image: url(../images/hero/hero-mobile.jpg);
  background-color: $background;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    height: 600px;
    background-size: auto;
  }

  @media screen and (max-width: 767px) {
    position: relative;
    top: 60px;
  }
}

@media (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero/hero-mobile2x.jpg);
  }
}

@media (min-width: 481px) {
  .hero {
    background-image: url(../images/hero/hero-tablet.jpg);
  }

  @media (min-resolution: 2dppx) {
    .hero {
      background-image: url(../images/hero/hero-tablet2x.jpg);
    }
  }
}

@media (min-width: 769px) {
  .hero {
    background-image: url(../images/hero/hero-desctop.jpg);
  }

  @media (min-resolution: 2dppx) {
    .hero {
      background-image: url(../images/hero/hero-desctop2x.jpg);
    }
  }
}

.hero-title {
  margin-bottom: 30px;

  font-weight: $font-weight-black;
  font-size: $font-size-medium;
  line-height: 1.6;
  text-transform: uppercase;

  color: $white-color;

  @media screen and (min-width: 1200px) {
    font-size: $font-size-large;
    line-height: 1.3;
  }
}

.button {
  display: inline-block;
  text-align: center;
  padding: 10px 32px;

  min-width: 136px;
  font-weight: $font-weight-bold;
  font-size: $font-size-button;
  line-height: 1.8;
  border: 2px solid $accent-color;
  border-radius: 4px;
  text-decoration: none;

  color: $white-color;
  background-color: $accent-color;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $white-color;
    background-color: $accent-color;
  }
}
